h2 {
  font-family: "Brandon Grotesque", Arial
}

h2 {
  color: #6a4aed
}

h3 {
  font-family: Futura, Arial
}

h3{
  color: #222222
}

p {
  color: #ff4d4d
}

p {
  font-family: Futura, Arial
}

a {
  color: #ff4d4d
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  font-size: 20px
}

p {
  font-size: 27px
}

footer {
  font-family: Futura, Arial
}

footer {
  text-align: center;
}
footer {
  color: white
}

footer {
  background-color: #353b48
}

footer {
  height: 200px
}

footer {
  text-align: center;
}

div{
  width: 478px
}

body{
  background-color: yelklow
}

div{
  border-radius: 10px
}
