h2 {
  font-family: Futura, Arial
}

h2 {
  color: #2d3436
}

h3 {
  font-family: Futura, Arial
}

p {
  color: #ff4d4d
}

p {
  font-family: Futura, Arial
}

a {
  color: #ff4d4d
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  color: #4b4b4b
}

p {
  font-size: 27px
}

h3 {
  font-size: 27px
}

footer {
  font-family: Futura, Arial
}

footer {
  text-align: center;
}
footer {
  color: white
}

footer {
  background-color: #353b48
}

footer {
  height: 200px
}

footer {
  text-align: center;
}
