h2 {
  font-family: "Brandon Grotesque", Arial
}

h2 {
  color: #6a4aed
}

h3 {
  font-family: Futura, Arial
}

h3{
  color: #222222
}

p {
  color: #ff4d4d
}

p {
  font-family: Futura, Arial
}

.hrefo, .hre {
  color: #ff4d4d
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}

h3 {
  font-size: 20px
}

p {
  font-size: 27px
}

footer {
  font-family: Futura, Arial
}

footer {
  text-align: center;
}
footer {
  color: white
}

footer {
  background-color: #353b48
}

footer {
  height: 200px
}

footer {
  text-align: center;
}

.gfm-embed{
  width: 470px
}

.gfm-embed{
  border-radius: 10px
}

.gfm-embed{
  margin: 0 auto;
}

h2:hover{
  color: #7ed6df
}

h2:hover{
  transition: 0.5s;
}

.ScriptHeader{
  background-color: #6a4aed
}

.ScriptHeader{
  width: 140px
}

.ScriptHeader{
  height: 40px
}

.ScriptHeader{
  border-radius: 3px
}

.Pulsante{
  font-family: Raleway, Futura;
}

.Pulsante{
  font-size: 14px
}

.Pulsante a{
  text-decoration: none;
}

.insta{
  width: 55px
}

.insta{
  height: 55px
}


body {
  background-color: #f6e58d
}
